*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #747474;


}
a{
    text-decoration: none;
}
header{
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 999999;
    
    
}
header nav{ 
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 18px;
}

header nav ul{
    display: flex;
    list-style: none;
    
}
header nav ul li{
    margin-left: 20px;
}
header nav img{
    width: 190px;
}
header nav ul li a:hover{
    color: #00b39b;
}
.activ{
    color: #00b39b;
}
.drop{

    position: relative;
}
.drop-menu{
    flex-direction: column;
    position: absolute;
    background-color: #f6f6f6;

    width: 300px;
    display: none;
    color: #ababab;


}
.drop-menu li{
    padding: 5px 12px;
}
.drop:hover > .drop-menu {
    display: flex;
}
main{
    width: 80%;

    margin: 0 auto;
}
main .land {
    text-align: center;
    margin-top: 10px;

}
main .land >*{
    text-align: center;
    margin-top: 30px;

}
.land img{
    text-align: center;
    margin-top: 70px;

}
.land p{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #00b39b;

}
.para{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.p{
    font-size: 0.63rem;
}
.para p{
    width: 45%;

}
.allcartes .carte{
  
    width: 180px;
    padding: 2em 2em 0;
    border-radius: 8px;

    background-color: 00CCB1;
    



}
.carte >*{
    color: white;
    border-radius: 8px;
}
.carte select{
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 40px;
    margin-bottom: 15px;

}
.all{
    margin-top: 15px;
    

}
.bcard{
    display: flex;
    justify-content: space-between;
}
.blue{
    background-color: #3d83df !important;

}
.black{
    background-color: #747474 !important;
}
.brand{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}
.brands{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.brand svg{
    fill: gray;
}
.brand svg:hover{
    fill: #00b39b;
}
.brandf{
    display: flex;
    fill: gray;
}
.bigsection{
    
    width: 100%;
    background-color: #e5faf8;
    height: 600px;
    background-image: url(./img/logo-default-group-en-svg.svg);
    background-repeat: no-repeat;
    background-position-y: 100px ;
    background-position-x: 100px;
}


.bigcont{
    width: 90%;
    display: flex; 
    padding-top: 70px;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    
    justify-content: space-between;
    margin-bottom: 40px;
}
.card{
    
    width: 110px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    
}
.one{
    margin-top: 15px;
}
.boots {
    width: 100%;
    height: 1000px;
    
}
.test {
    display:block;
    background-color: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.test > *{
    margin-top: 30px;
}










